.navbar {
  width: 100%;
  height: 80px;
  background-color: rgb(19, 19, 19);
  display: flex;
  align-items: center;
  padding: 0 50px;
}

.links {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.links a {
  text-decoration: none;
  color: white;
  margin-left: 20px;
  font-size: 25px;
}
